h1 span {
    background-color: #5546FF;
    padding-left: 5px;
    padding-right: 5px;
}

h1 {
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color: white;
}

h2 {
    margin-left: 8vw;
    margin-right: -5vw;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: normal !important;
    font-size: 20px !important;
    color: white;
    line-height: 2.4 !important;
    text-align: left;
}

h3 span {
    border-bottom: 4px solid #5546FF;
}

h3 {
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: normal !important;
    font-style: italic;
    font-size: 24px !important;
    color: white;
    line-height: 1.6 !important;
}

img {
    width: 300px;
    height: 300px;
}

a:link {
    text-decoration: none;
    color: white !important;
}

a:visited {
    text-decoration: none;
    color: white !important;
}

a:hover {
    text-decoration: none;
    color: white !important;
}

a:active {
    text-decoration: none;
    color: white !important;
}

.personality {
    -bottom: 15vh;
    display: inline-block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(mountain.png);
    font-weight: 600;
    border-radius: 10px;
    border: none;
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 30px;
    width: 400px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 5px;
}

.beliefs {
    padding-bottom: 5vh;
    display: inline-block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(beliefs.png);
    font-weight: 600;
    border-radius: 10px;
    border: none;
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 30px;
    width: 400px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 5px;
}

.relationships {
    padding-bottom: 5vh;
    display: inline-block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(relationships.png);
    font-weight: 600;
    border-radius: 10px;
    border: none;
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 30px;
    width: 400px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 5px;
}

.romance {
    padding-bottom: 5vh;
    display: inline-block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(romance.png);
    font-weight: 600;
    border-radius: 10px;
    border: none;
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 30px;
    width: 400px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 5vh;
}

.upbringing {
    padding-bottom: 5vh;
    display: inline-block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(upbringing.png);
    font-weight: 600;
    border-radius: 10px;
    border: none;
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 30px;
    width: 400px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 5vh;
}

.dreams {
    padding-bottom: 5vh;
    display: inline-block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(dreams.png);
    font-weight: 600;
    border-radius: 10px;
    border: none;
    font-family: "Poppins", sans-serif;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 30px;
    width: 400px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 5vh;
}

/* Subpage formatting */

.topnav {
    display: flex;
    margin-left: 32vw;
    padding-top: 3vh;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    font-weight: normal !important;
}
  
.topnav nav {
    float: right;
    margin-right: 12vw;
}

.topnav ul {
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.topnav li {
    float: left;
    width: 20%;
}

.topnav li:hover a::before {
    right: 0;
    left: 0;
}

.topnav a {
    color: white;
    margin-right: 8vw;
    font-size: 20px;
    text-decoration: none;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    margin-bottom: 2vh;
    display: block;
    position: relative;
    transition: all 0.3s ease;
}

.topnav a:hover {
    color: white;
}

.topnav a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 4px;
    background-color: #5546FF;
}

.topnav a:hover::before {
    right: 0;
    left: 0;
}

li {
    list-style: none;
}

@media screen and (min-width: 1100px) {
.topnav {
    display: flex;
    margin-left: 3vw;
} 
.topnav ul {
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    font-weight: normal !important;
    margin-left: 4vw;
    flex-direction: row;
}
}

/* Subpage content */

.subpage-header {
    margin-bottom: -5vh;
}

.subpage-text {
    text-align: left;
    font-style: normal;
    font-size: 18px !important;
}
